@font-face {
    font-family: 'icons';
    src: url('/fonts/icons.woff2') format('woff2'),
         url('/fonts/icons.woff') format('woff'),
         url('/fonts/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
